

.order-container {
    max-width: max-content;
    border: 3px solid rgb(231, 188, 95);
    
    margin: 5px;
    border-radius: 5px;
}

.order {
    padding: 5px 10px;
    max-width: 100%;
    cursor: pointer;
    border-radius: 3px;

    user-select: none;

    /* display: flex; */
}

/* .order:hover {
    background-color: rgb(153, 222, 199);
} */

.order-status {
    background-color: rgb(220, 231, 120);
    padding: 2px 4px;
}

.info-table {
    padding-left: 20px;
}

.wrapper {
    overflow: hidden;
}

.table-div {
    margin-top: -100%;
    transition: all .3s;
    background-color: rgb(249, 247, 237);  
}

.table-div.expand {
    margin-top: 0;
    transition: all .1s;
}

td {
    padding-right: 10px;
}

