* {
    margin: 0;
    padding: 0;

    --order-section-bg: rgb(114, 170, 176);
    --app-bg: rgb(114, 170, 176);
    --button-bg: rgb(36, 65, 68)
}

body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
    width: 100vw;
    height: 100%;

    display: flex;
    justify-content: center;
}

h1, h2 {
    margin: 10px;
    color: rgb(36, 65, 68);
    font-size: 2rem;
}

h2 {
    margin-top: 10px;
    align-self: flex-start;
}

p {
    color: rgb(36, 65, 68);
}

#logo {
    width: 100px;
    height: auto;
}

.app-logo {
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whole-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: max-content;
    max-width: 100vw;
    margin-bottom: 20px;
    margin-top: 10px;
}

form, .scheduled-info, .fo-last {
    background-color: rgb(255, 217, 167);
    padding: 5px;
    border-radius: 5px;
    margin: 0px 2px;
}

.schedule-form-container>form, .scheduled-info, .fo-last {
    background-color: rgb(242, 210, 168);
    margin-bottom: 2px;
}

.fo-last {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.scheduling-container {
    margin-top: 5px;
    width: 96%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.orders-container {
    margin: 5px 0px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.menu {
    width: 120px;
    height: 100vh;
    background-color: azure;
}

button {
    border: 2px solid transparent;
    padding: 2px 5px;
    background-color: rgb(226, 185, 96);
    color: rgb(36, 65, 68);
    border-radius: 5px;
    
    cursor: pointer;
}

button:active {
    border: 2px solid rgb(36, 65, 68);
}

.app-logo>button {
    background-color: rgb(36, 65, 68);
    color: antiquewhite;
}