* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 10px;
}

h2 {
    color: rgb(124, 86, 36);
}

#logo {
    width: 100px;
    height: auto;
}

.app-logo {
    display: flex;
}

.whole-app {
    display: flex;
    justify-content: center;
}

.menu {
    width: 120px;
    height: 100vh;
    background-color: azure;
}